.form-control {
    display: inline;
}
.add_button {
    padding-bottom: 20px;
    margin: 10px 20px 10px 20px;
}
.checkbox {
    margin-top: 20px;
}
.completed_item {
    text-decoration: line-through;
}
h1 {
    padding: 10px;
    display: inline-block;
    color: #292b33;
}
body {
    background-color: #f6f6f6;
}
.text_holder {
    display: inline;
    max-width: 100%;
    word-wrap: break-word;
}
#main {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    width: auto;
    border: 1px solid #545454;
}
.list-group-item.input{
    padding-right: 90px;
}
