.form-control {
    display: inline;
}
.add_button {
    padding-bottom: 20px;
    margin: 10px 20px 10px 20px;
}
.checkbox {
    margin-top: 20px;
}
.completed_item {
    text-decoration: line-through;
}
h1 {
    padding: 10px;
    display: inline-block;
    color: #292b33;
}
body {
    background-color: #f6f6f6;
}
.text_holder {
    display: inline;
    max-width: 100%;
    word-wrap: break-word;
}
#main {
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    width: auto;
    border: 1px solid #545454;
}
.list-group-item.input{
    padding-right: 90px;
}

.alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
